html{
    font-size: 1.0em;

}
body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    
}

.main {
    display: flex;
    background-color: white;
    width: 65rem;
    height: 100vh;
}

img{

    width: 27rem; 
    height: 100%;
}



.info {

    display: flex;
    flex-direction: column;
    overflow: auto;
    
    
    
}
.head {

    padding-top: 4rem;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 3px rgba(212, 203, 203, 0.3);
    
}
.disclaimer{

    margin-right: 5rem;
}
.bottom {

    padding-bottom: 4rem;;
}

.head, .bottom {

    padding-left: 2rem;
}

legend {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: bold;

    
}

fieldset {

    background-color: white;
    box-shadow: 0px 5px rgba(212, 203, 203, 0.3);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;

}

.group {

    display: flex;
    gap: 2rem;

}

label {
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-radius: 0.4rem;

}
input:hover{
    border: 2px solid black;
    transform: scale(1.1);
}

button {

    width: 11rem;
    height: 2rem;
    border: 2px solid rgba(15, 56, 53, 1);
    background-color: rgba(20, 77, 60, 0.9);
    border-radius: 0.5rem;
    color: whitesmoke;
    box-shadow: 2px 4px rgba(212, 203, 203, 0.5);
}

a {
    text-decoration: none;
    color: rgba(15, 56, 53, 1);
}

.bLink {

    font-size: 0.9rem;
    font-weight: 400;
}